
@model AnagramGenerator.WebApp.Models.WordsViewModel
    <style>
        .footeris {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            margin-left: 15px
        }
    </style>

    <div class="text-center">
        @using (Html.BeginForm("Search", "Words"))
        {
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Word</label>
                    <input class="form-control" placeholder="Įveskite žodį" type="text" id="ss" name="searchPhrase" />
                </div>
                <button type="submit" class="btn btn-dark mb-2">Ieškoti</button>
            </form>
        }
        <h1>Žodžiai</h1>
        @if (Model.Words.Count == 0)
        {
            <p>Žodžių sąraše nėra</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Žodis</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var word in Model.Words)
                    {
                        <tr><td class="list-group-flush">@Html.ActionLink(word.Word, "Index", "Home", new { words = word.Word }, null)</td></tr>
                    }
                </tbody>
            </table>
        }

        <ul class="pagination footeris">
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Words", new { page=Model.Page-=1, pageSize=100}, null)">Previous</a>
            </li>s

            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", "Words", new { page=Model.Page+=2, pageSize=100}, null)">Next</a>
            </li>
        </ul>
    </div>

