@model Contracts.Models.AnagramsViewModel

    <div class="text-center">
        <h1>Ieškoti Anagramų</h1>
        @using (Html.BeginForm("Update", "Home"))
        {
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Word</label>
                    <input class="form-control" placeholder="Įveskite žodį" type="text" id="ss" name="words" />
                </div>
                <button type="submit" class="btn btn-dark mb-2">Ieškoti</button>
            </form>
        }
        @if (Model.Anagrams.Count != 0)
        {
            <h2>Sakinys: @Model.Phrase.Text</h2>
            <h3>Anagramos</h3>
            <ul class="list-group">
                @foreach (var anagram in Model.Anagrams)
                {
                    <li class="list-group-item">@anagram.Text</li>
                }
            </ul>
        }
        else if (Model.Phrase != null)
        {
            <p>Jūsų įvestas sąkinys [@Model.Phrase.Text] anagramų neturi</p>
        }
    </div>
