@model AnagramGenerator.WebApp.Models.AnagramsViewModel

<div class="text-center">
    <h1>Sakinys: @Model.InputWords</h1>
    <h3>Anagramos</h3>
    <ul class="list-group">
        @if (Model.Anagrams.Count != 0)
        {
            foreach (var anagram in Model.Anagrams)
            {
                <li class="list-group-item">@anagram</li>
            }
        } else
        {
            <p>Jūsų įvestas sąkinys anagramų neturi</p>
        }
    </ul>
</div>
