@model Contracts.Models.ExecutedQueryViewModel

    <div class="text-center">
        <h1>Vartotojų užklausų sąrašas</h1>
        @if (Model.UserLogs.Count != 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Vartotojo IP</th>
                        <th scope="col">Anagramų paieškos laikas</th>
                        <th scope="col">Ieškomas žodis</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.UserLogs)
                    {
                    <tr>
                        <td class="list-group-flush">@log.UserIp</td>
                        <td class="list-group-flush">@log.SearchTime ms.</td>
                        <td class="list-group-flush">@log.SearchPhrase.Text</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else if (Model.UserLogs != null)
        {
            <p>Vykdytų užklausų nėra</p>
        }
    </div>
